{% extends 'base.html' %}

{% block title %}
Новая вакансия
{% endblock %}

{% block body %}
<div class="container">
    <br>
    {% with messages = get_flashed_messages(category_filter='add_job') %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <br>
    <div class="container">
        <form method="post" enctype="multipart/form-data" action="/add_job" class="form">
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.name(class_="form-control", placeholder_="Название") }}<br>
                {{ form.description(class_="form-control", placeholder_="Описание") }}<br>
                {{ form.file(class_="form-control", placeholder_="Вопрос") }}<br>


                {{ form.submit(class_="form-control btn-success") }}
            </div>
        </form>
    </div>

    <br>
    <a href="/jobs_setup" class="btn btn-outline-dark btn-lg"> К обязанностям </a><br>&nbsp;

</div>
{% endblock %}