{% extends 'base.html' %}

{% block title %}
Вакансии
{% endblock %}

{% block body %}
<br>
<div class="container">
    <br>
    {% if jobs|length == 0 %}
    <h1 align="center"> Нет активных вакансий </h1>
    {% endif %}
    <br>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        {% for job in jobs %}

        <div class="card-desk mb-3 text-container">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{job[1]}}</h4>
                    </div>
                    <img class="card-img-top" src="{{url_for('job_photo', job_id=job[0])}}"
                         alt="Фото{{job[0]}}" height="250px">
                    <div class="card-body">
                        <p class="card-text">{{job[2]}}</p>
                        <hr>
                        <a href="https://t.me/beerCoders_codeRocks_bot" class="btn btn-outline-dark">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
        <br>

        {% endfor %}
    </div>

    <a href="/" class="btn btn-lg btn-outline-dark">На главную</a><br>&nbsp;
</div>

{% endblock %}