{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<div class="container">
    <img src="{{ url_for('static', filename='logo.svg') }}" class="img-fluid photo"><br>

    <a class="btn btn-lg btn-outline-dark" href="/production">Производство</a>&nbsp;&nbsp;
    <a class="btn btn-lg  btn-outline-dark" href="/products">Линейка товаров</a>
    <br>&nbsp;
    <div class="p-3 mb-2 bg-light bg-gradient text-dark rounded" >
        <p style="font-family: Comic Sans MS, Comic Sans, cursive; font-size:14pt">
            Наша пивоваренная компания - это семейный бизнес,
            который был основан более 20 лет назад.
            Мы гордимся тем, что используем только лучшие ингредиенты и традиционные методы приготовления хмельного
            продукта,
            чтобы создавать настоящие шедевры. Наша продукция включает в себя широкий ассортимент прекрасных напитков,
            от классических сортов до экспериментальных новинок, которые удивят даже самых искушенных ценителей эликсира
            молодости.
            Мы стремимся к постоянному улучшению качества нашей продукции и обслуживания, чтобы наши клиенты могли
            наслаждаться нашим пивом в любое время и в любом месте.</p>
    </div>
    <br>
    <hr>
    <a class="btn btn-lg btn-outline-dark" href="/history">История</a>
    <div class="p-3 mb-2 bg-light bg-gradient text-dark rounded" >
        <p style="font-family: Comic Sans MS, Comic Sans, cursive; font-size:14pt">
            BeerCoders - это пивоварня, которая начала работу в 2010 году в гараже и теперь производит
            высококачественное пиво с помощью самых современных технологий и ингредиентов. Мы постоянно
            улучшаем свои продукты через научные исследования и разработки, а также участвуем в местных
            мероприятиях и поддерживаем благотворительные организации. Компания заботится о своих сотрудниках и
            использует только натуральные ингредиенты, не применяя химических добавок и консервантов. BeerCoders
            продает свое пиво не только в местных магазинах и барах, но и экспортирует его в другие страны.</p>
    </div>
    <hr>
    <a class="btn btn-lg btn-outline-dark" href="/cooperation">Сотрудничество</a>
    <div class="p-3 mb-2 bg-light bg-gradient text-dark rounded" >
        <p style="font-family: Comic Sans MS, Comic Sans, cursive; font-size:14pt">
            BeerCoders предлагает работу в качественной и инновационной компании, которая производит пиво.
            Вакансии могут включать пивовара, менеджера по продажам, маркетолога и технического специалиста.
            Компания также может предоставить возможности для обучения и стажировки в области пивоварения.
            BeerCoders заинтересована в сотрудничестве с местными фермерами и поставщиками ингредиентов.
            Компания поддерживает благотворительные мероприятия и готова к сотрудничеству с магазинами и барами,
            а также экспортирует свой продукт.</p>
    </div>
</div>
{% endblock %}